@font-face {
    font-family: 'CustomFont';
    src: url('Resources/MinecraftRegular-Bmg3.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html{
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.typing-container {
    color:#d18726;
    font-family: 'CustomFont',sans-serif;
    top:80px;
    font-size: 24px;
    display: flex;
    position: absolute;
    white-space: pre-line;
}

.cursor {
    display: inline-block;
    width: 20px;
    background-color: orange;
    animation: blink 1s step-end infinite;
}

#intro {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color:#d18726;
    font-family: 'CustomFont',sans-serif;
    font-size: xx-large;
}

#credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #d18726;
    font-family: 'CustomFont',sans-serif;
    font-size: 10px;
}

#ufo_prompt{
    position: absolute;
    top: 13vh;
    right: 2vw;
    color: #d18726;
    font-family: 'CustomFont',sans-serif;
    font-size: 18px;
}
@keyframes blink {
    from, to { background-color: transparent }
    50% { background-color: orange }
}

.close-button {
    background-color: rgb(0, 0, 0);
    color: rgb(235, 252, 1);
    border: none;
    cursor: pointer;
    font-family: 'CustomFont',sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 0px; /* Adjust as needed (e.g., top: 50%; transform: translateY(-50%)) */
    left: 500px;
    
}
