@font-face {
    font-family: 'CustomFont';
    src: url('Resources/MinecraftRegular-Bmg3.ttf');
}
/*font-family: 'CustomFont', sans-serif;*/
body, html {
    font-family: 'CustomFont', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it is behind other content */
    background: black; /* Optional: Set a background color */
    overflow: hidden;
}

#top_intro {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

#top_right_intro {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

#courses_intro{
    margin: 40px 40px 10px 40px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#experience_intro{
    margin: 40px 40px 10px 40px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#projects_intro{
    margin: 40px 40px 10px 40px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#first_description,
#year_uoft,
#back_uoft,
#GIS_intro,
#acne_intro,
#gyro_intro {
    text-align: center;
    margin: 20px 40px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.course-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0 60px 20px 60px;
}

.course-list li {
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
}


#lifestream_intro {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    flex: 1;
}

#jusan_year,
#lifestream_year {
    text-align: center;
    margin: 0 40px 20px 40px;
    color: #ffffff;
}

.experience-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 10px 40px;
}

#jusan_intro {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    color: #ffffff;
}

#ji_logo_id {
    max-height: 100px;
    margin-left: -180px;
}

#life_stream_logo_id{
    max-height: 100px;
    margin-left: -180px;
}

#jusan_description,
#lifestream_description{
    font-size: 20px;
    margin: 0 60px 20px 60px;
    padding: 10px;
    color: #ffffff;
}

#GIS_description,
#acne_description,
#pen_description {
    margin: 0 60px 20px 60px;
    padding: 10px;
    color: #ffffff;
    margin-left: 20%;
    font-size: 20px;
}

#jusan_main_body,
#lifestream_main_body,
#gis_main_body,
#acne_main_body,
#pen_main_body {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}
.acne-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acne-section img {
    flex: 1;
    max-width: 30%;
    margin: 10px 10px 10px;
    height: auto;
}
#acne_demo{
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

#pen_demo {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

#gis_demo {
    text-align: center;
    margin: 20px 0;
}

#acne_git {
    display: block;
    text-align: center;
    margin: 10px auto;
    color: #fcfcfc;
    text-decoration: none;
    font-size: 20px;
}

#acne_git:hover {
    text-decoration: underline;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white;
    animation: blink 5s infinite ease-in-out;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}