body {
    margin: 0;
    padding: 0;
    transition: background-color 1s ease;
}

.intro {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 2x;
    color: rgb(0, 0, 0);
}

.introductory_video {
    display: flex;
    justify-content:center;
    outline-width: 200px;
    outline-color: blueviolet;
}

.asd{
    margin-top: 30px;
    margin-left: 250px;
    text-indent: 50px;
    font-family: fantasy;
    top:2x;
}
.description{
    margin-top: 50px;
    margin-left: 100px;
    font-family:'Courier New', Courier, monospace;


}