body {
    margin: 0;
    padding: 0;
    transition: background-color 1s ease;
}

.intro {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 2x;
    color: aliceblue;
}

.introductory_video {
    display: flex;
    justify-content:center;
    outline-width: 200px;
    outline-color: blueviolet;
}

.description{
    text-indent: 50px;
    font-family: fantasy;
    top:2x;
}